/StartProject/UploadFilesServer/.vs
/StartProject/UploadFilesServer/UploadFilesServer/bin
/StartProject/UploadFilesServer/UploadFilesServer/obj
/FinishedProject/UploadFilesServer/.vs
/FinishedProject/UploadFilesServer/UploadFilesServer/bin
/FinishedProject/UploadFilesServer/UploadFilesServer/obj
